.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative; 
}

.Nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: flex-end; 
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.Nav-link {
  font-family: 'Bangers', sans-serif;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 20px;
}

.Nav-link:hover {
  color: #f3ff00;
}

.landingPageVideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.landingPageHeadline {
  color: white; /* Set text color to white */
  font-size: 500%; /* Increase font size by 30% */
  text-align: left; /* Center align the text */
  line-height: 1.3; /* Adjust line height for better spacing */
  margin-top: 20px; /* Add some space from the video */
}

body {
  color: white;
}